spring:
  datasource:
    url: jdbc:h2:tcp://localhost:9092/~/holidaydb;MODE=MySQL
    driverClassName: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
